.dt-button{
    background-image: none !important;
    color: #fff !important;
    border: 0 !important;
}
.dt-button.btn-primary{
    background-color: #3c8dbc !important;
}

.dt-button.btn-default{
    background-color: #f4f4f4 !important;
}
.dt-button.btn-success{
    background-color: #00a65a !important;
}

.dt-button.btn-info{
    background-color: #00c0ef !important;
}

html,body, h1, h2, h3, h4, h5, h6{
    font-family: 'Cairo', sans-serif !important;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
    color: #3c8dbc !important;
}


/*.radio{*/
/*    margin-top: 50px;*/
/*    position: inherit;*/
/*}*/

/*.radio label  {*/
/*    margin: 2em;*/
/*    display: inline-block;*/
/*    position: relative;*/
/*    padding-left: 40px;*/
/*    cursor: pointer;*/
/*}*/

/*.radio input  {*/
/*    height: 1px;*/
/*    width: 1px;*/
/*    opacity: 0;*/
/*}*/

/*.outside {*/
/*    display: inline-block;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 50%;*/
/*    margin-top: -10px;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border: 2px solid #3c8dbc;*/
/*    border-radius: 50%;*/
/*    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*    background: none;*/
/*}*/

/*.inside {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    -webkit-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*    display: inline-block;*/
/*    border-radius: 50%;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*    background: #3c8dbc;*/
/*    left: 3px;*/
/*    top: 3px;*/
/*    -webkit-transform: scale(0, 0);*/
/*    transform: scale(0, 0);*/
/*}*/
/*.no-transforms .inside {*/
/*    left: auto;*/
/*    top: auto;*/
/*    width: 0;*/
/*    height: 0;*/
/*}*/


/*input:checked + .outside .inside {*/
/*    -webkit-animation: radio-select 0.1s linear;*/
/*    animation: radio-select 0.1s linear;*/
/*    -webkit-transform: scale(1, 1);*/
/*    transform: scale(1, 1);*/
/*}*/
/*.no-transforms input:checked + .outside .inside {*/
/*    width: 10px;*/
/*    height: 10px;*/
/*}*/

input[type=radio], label{
    cursor: pointer;
}
